@media screen and (max-width: 980px) {
  .page {
    .top-banner-bg {
      .top-banner {
        flex-direction: column;
        .banner-container {
          align-items: center;
          margin: rem(20) rem(20) rem(20) 0;
          flex-direction: column;
          .banner-elenment {
            margin: 0;
          }
          .banner-elenment-phone {
            display: none;
          }
        }
      }
    }
    .main {
      margin: rem(80) 0 0 0;
      .app-elsta-menu-top {
        h2 {
          font: rem(42)/rem(54) Infinity;
          margin: 0 0 rem(16) 0;
        }
        p {
          font: rem(16)/rem(25) OpenSans;
        }
      }
      .app-elsta-video {
        flex-direction: column;
        margin: 0;
        padding: rem(46) 0 rem(56) 0;
        .app-elsta-block {
          max-width: rem(858);
          margin: 0 0 rem(20) 0;
          text-align: center;
        }
        .video {
          max-width: rem(640);
        }
      }
      .block-classification {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        column-gap: rem(60);
        margin: rem(48) rem(28) rem(68);
        .card-classification {
          i {
            font-size: rem(50);
          }
        }
      }
      .person-information-block {
        .container-img {
          width: rem(100);
          height: rem(100);
        }
        p {
          font: rem(16)/rem(24) OpenSanslight;
        }
      }
      .pricing-block-classifications {
        row-gap: rem(88);
        .pricing-block-classification {
          .type-classification {
            padding: rem(60) rem(32) rem(22);
            .block-price {
              .type-currency {
                font: rem(38)/rem(28) OpenSanslight;
              }
            }
            .product-classification {
              font: rem(26)/rem(28) OpenSanslight;
            }
          }
          ul.type {
            li {
              font: rem(16)/rem(28) OpenSanslight;
            }
          }
        }
      }
      .contact-us-block {
        .contact-us-form {
          .container-element-form {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr rem(170);
            grid-template-areas:
                    "name"
                    "email"
                    "textarea";
          }
        }
      }
    }
    footer {
      .footer-content {
        .logo-block {
          .logo-name {
            font: rem(42)/rem(32) Infinity;
          }
          .all-rights {
            font: rem(10)/rem(22) MyriadProRegular;
          }
        }
        .container-text-socials {
          flex-direction: column;
          align-items: flex-end;
          margin: 0 0 0 rem(10);
          .text-block {
            margin: 0 rem(10) rem(10) rem(30);
          }
          .social-block {
            .social-icons {
              font-size: rem(24);
              & + .social-icons {
                margin: 0 0 0 rem(8);
              }
            }
          }
        }
      }
    }
  }
}

