@font-face {
  font-family: "Infinity";
  src: url("../font/ofont_ru_Infinity.eot");
  src: url("../font/ofont_ru_Infinity.eot") format("embedded-opentype"), url("../font/ofont_ru_Infinity.woff2") format("woff2"), url("../font/ofont_ru_Infinity.woff") format("woff"), url("../font/ofont_ru_Infinity.ttf") format("truetype"), url("../font/ofont_ru_Infinity.svg#ofont_ru_Infinity") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OpenSanslight";
  src: url("../font/OpenSansLight.eot");
  src: url("../font/OpenSansLight.eot") format("embedded-opentype"), url("../font/OpenSansLight.woff2") format("woff2"), url("../font/OpenSansLight.woff") format("woff"), url("../font/OpenSansLight.ttf") format("truetype"), url("../font/OpenSansLight.svg#OpenSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSansRegular.eot");
  src: url("../font/OpenSansRegular.eot") format("embedded-opentype"), url("../font/OpenSansRegular.woff2") format("woff2"), url("../font/OpenSansRegular.woff") format("woff"), url("../font/OpenSansRegular.ttf") format("truetype"), url("../font/OpenSansRegular.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}